body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#chat-room {
  flex-direction: row;
  align-items: center;
}

#chat-messages {
  display: block;
  width: 50%;
  height: 800px;
  overflow: scroll;
}
